{% extends 'base.html' %}
{% block conteudo %}

    <!-- Imagem e Texto corpo -->
        <div>
            <div>
             <img  src="{{ url_for ('static', filename='capa.jpeg') }}" class="imagem" aling="center" widht="899" height="370">
            </div>
        </div>
        <div>
            <h1 class="titulo">Sobre a Universidade</h1>
            <p class="texto"> Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipiscing elit. Suspendisse sit amet mollis nisl. ALiquam sit amet diam ac quam dignissim lobortis vel ac sapien. Proin placerat cursus risus. Duis bladit varius hendrerit. Vavamus sed placerat turpis, vel viverra neque. DUis at tempor magna, sit amet gravida purus. Nulla facilisi. Vuvamus accumsan risus vitae risus bladit venenatis. Sed sed nils tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac nec lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit vitae lectus laoreet a.</p>

            <p class="texto"> Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipiscing elit. Suspendisse sit amet mollis nisl. ALiquam sit amet diam ac quam dignissim lobortis vel ac sapien. Proin placerat cursus risus. Duis bladit varius hendrerit. Vavamus sed placerat turpis, vel viverra neque. DUis at tempor magna, sit amet gravida purus. Nulla facilisi. Vuvamus accumsan risus vitae risus bladit venenatis. Sed sed nils tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac nec lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit vitae lectus laoreet a.</p>

        </div>

<!-- Rodapé -->
    <div class="direitos">
        <p><b>Todos os direitos reservados</b></p>
    </div>
    </div>
 {% endblock %}
